.page {
  width: 8.5in;
  height: 11in;
  background: white;
  position: relative;
  margin: auto;
  box-shadow: 0 0 .05in #aaa;
  margin-top: 0.1in;
  margin-bottom: 0.1in;
}
.gate {
  position: absolute;
  left: 0;
  top: 0;
}

.wire {
  position: absolute;
  left: 0;
  top: 0;
  border: 0.010in solid black;
}
