.page {
  width: 8.5in;
  height: 11in;
  border: 1px solid #aaaaaa;
  background: white;
  position: relative;
}

.gate {
  position: absolute;
  left: 0;
  top: 0;
}

.wire {
  position: absolute;
  left: 0;
  top: 0;
  border: 0.010in solid black;
}
