.page {
  width: 8.5in;
  height: 11in;
  background: white;
  position: relative;
  margin: auto;
  box-shadow: 0 0 .05in #aaa;
  margin-top: 0.1in;
  margin-bottom: 0.1in;
}

.gate {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ffffff00;
  border-radius: 4px;
  cursor: pointer;
}

.gate:hover {
  border: 1px solid #1144ff;
}

.selectedGate {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5in;
  height: 0.5in;
  border: 1px solid #1144ff;
  border-radius: 4px;
  background: #1144ff33;
  cursor: move;
}

.pin {
  position: absolute;
  margin: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.pin:hover {
  border: 1px solid #1144ff;
  margin: -1px;
}

.selection {
  position: fixed;
  border: 1px solid #1144ff;
  background: #1144ff33;
  pointer-events: none;
}
